<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles">
    <title>Contact Cybersoft | A Freelancing Service Provider</title>
</head>
<body>

    <!-- Navbar -->
    <header>
        <span id="logo"><a href="/">Cybersoft</a></span>
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Servies</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </header>

    <!-- IMG showcase -->
    <div id="showcase">
        <div class="container showcase">
        <div id="showcase-letter">
            <h1>Contact Cybersoft</h1>
        </div>
    </div>
    </div>

    <!-- Servives -->
    <div id="Contact">
        <div class="container">
            <h2>Contact Us</h2>
            <form>
                <div>
                <input type="email" name="email" placeholder="Enter Email">
                </div>

                <div>
                    <input type="text" name="text" placeholder="Enter Title">
                </div>

                <div>
                    <textarea name="msg" placeholder="Enter Message"></textarea>
                </div>

                <div>
                    <button>Submit</button>
                </div>
            </form>

        </div>
    </div>



    <!-- Footer -->
    <footer>
        <h4>Cybersoft &copy; 2021</h4>
        <h5>All Rights Reserved</h5>
        <h6>Gimna Katugampala Production</h6>
    </footer>
    
</body>
</html>