<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/style.css">
    <title>Cybersoft Services | A Freelancing Service Provider</title>
</head>
<body>

    <!-- Navbar -->
    <header>
        <span id="logo"><a href="./index.html">Cybersoft</a></span>
        <ul>
            <li><a href="./index.html" class="active">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./services.html" class="active">Services</a></li>
            <li><a href="./contact.html">Contact Us</a></li>
        </ul>
    </header>

    <!-- IMG showcase -->
    <div id="showcase">
        <div class="container showcase">
        <div id="showcase-letter">
            <h1>Cybersoft Services</h1>
        </div>
    </div>
    </div>

    <!-- Servives -->
    <div id="Services">
        <div class="container">
            <h2>Our Services</h2>
            <!-- 1 -->
            <div class="card">
                <i class="fab fa-html5 fa-5x"></i>
                <h3>Web</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut mollitia distinctio culpa hic modi accusamus. Maiores</p>
            </div>

            <!-- 2 -->
            <div class="card">
                <i class="fab fa-android fa-5x"></i>
                <h3>Mobile Apps</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut mollitia distinctio culpa hic modi accusamus. Maiores</p>
            </div>

            <!-- 3 -->
            <div class="card">
                <i class="fas fa-desktop fa-5x"></i>
                <h3>Desktop</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut mollitia distinctio culpa hic modi accusamus. Maiores</p>
            </div>

        </div>
    </div>


    <!-- Footer -->
    <footer>
        <h4>Cybersoft &copy; 2021</h4>
        <h5>All Rights Reserved</h5>
        <h6>Gimna Katugampala Production</h6>
    </footer>
    
</body>
</html>